

.main-form{
    display: flex;
    width: 39%;
    height: 50vh;
    background-color: #fff;
    border-radius: 20px;
    
}

.wrapper{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  }
  .title-signup {
    text-align: center;
  }
  .login-form {
    overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }
  .title-text{
    display: flex;
    width: 200%;
  }

